@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Playfair+Display+SC&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya&display=swap');

#main-prompt{
    font-family: 'Playfair Display SC', serif;
    /* font-family: 'Arya', sans-serif; */
}

body{
    font-family: 'Roboto', sans-serif;
  }

.card-title{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Vina Sans', cursive; */
}

code{
    font-family: 'JetBrains Mono', monospace;
}

.hide{
    display: none;
}

.session .card-body .card-title{
    /* font-family: 'Sigmar', cursive; */
    font-weight: 100;
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Vina Sans', cursive; */
}

.shake{
    animation: horizontal-shaking .2s;
    animation-iteration-count: 2;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

.darkmode-layer, .darkmode-toggle {
    z-index: 1000;
}



.darkmode--activated .bg-danger {
    background-color: red;
}

#myin{
    text-align: center;
    border: 1px solid green;
}
