@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Fira+Sans+Condensed:wght@900&family=Fira+Sans:wght@500&family=Playfair+Display+SC:wght@700&display=swap');

#main-prompt{
    font-family: 'Playfair Display SC', serif;
}

body{
    font-family: 'fira sans', sans-serif;
  }

.card-title{
    font-family: 'fira sans', sans-serif;
}

code{
    font-family: 'fira code', monospace;
}

.hide{
    display: none;
}

.session .card-body .card-title{
    font-weight: 100;
    font-family: 'fira sans condensed', sans-serif;
    padding-bottom:0;
}

.shake{
    animation: horizontal-shaking .2s;
    animation-iteration-count: 2;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(7px) }
    50% { transform: translateX(-7px) }
    75% { transform: translateX(7px) }
    100% { transform: translateX(0) }
}

.darkmode-layer, .darkmode-toggle {
    z-index: 1000;
}

#myin{
    text-align: center;
    border: 1px solid green;
}