@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

body{
    font-family: 'Roboto', sans-serif;
  }

.card-title{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Vina Sans', cursive; */
}

code{
    font-family: 'JetBrains Mono', monospace;
}

.hide{
    display: none;
}

.session .card-body .card-title{
    font-family: 'Roboto Condensed', sans-serif;
    /* font-family: 'Vina Sans', cursive; */
}

.shake{
    animation: horizontal-shaking .2s;
    animation-iteration-count: 2;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }